## Python Basics and Exercises

Area Covered: 
Data types
  Numbers
  Strings
  Printing
  Lists
  Dictionaries
  Booleans
  Tuples
  Sets
Comparison Operators
if, elif, else Statements
for Loops
while Loops
range()
list comprehension
Functions
lambda expressions
map and filter
methods

# Data types

# Numbers

In [2]:
1+1

2

In [3]:
2*2

4

In [4]:
2/2

1.0

In [5]:
2**4

16

In [6]:
6%2

0

In [7]:
3%2

1

In [9]:
(2+4)*(2+2)

24

# Variable Assignment

In [10]:
x=5
y=3

In [11]:
z=x+y

In [12]:
z

8

# Strings

In [14]:
'use of single quotes'

'use of single quotes'

In [16]:
"use of double quotes"

'use of double quotes'

In [17]:
" wrap lot's of other quotes"

" wrap lot's of other quotes"

# The Python print() function

In [18]:
x='hello'

In [19]:
x

'hello'

In [20]:
print(x)

hello

In [23]:
num = 1
name= 'Lima'

In [26]:
print('my name is: {one}, and my number is: {two}'.format(one=name,two=num))

my name is: Lima, and my number is: 1

In [27]:
print('my name is: {} and my number is:{}'.format(name,num))

my name is: Lima and my number is:1

# Lists

In [2]:
[3,4,5]

[3, 4, 5]

In [3]:
['hello', 1, [4,5]]

['hello', 1, [4, 5]]

In [5]:
my_list = ['apple', 'banana', 'orange']

In [6]:
my_list.append('mango')

In [7]:
my_list

['apple', 'banana', 'orange', 'mango']

In [8]:
my_list[0]

'apple'

In [9]:
my_list[1]

'banana'

In [10]:
my_list[1:]

['banana', 'orange', 'mango']

In [11]:
my_list[:1]

['apple']

In [12]:
my_list[0] = 'SOMETHING NEW'

In [13]:
my_list

['SOMETHING NEW', 'banana', 'orange', 'mango']

In [15]:
nest = [1,2,3,['a','b',['targeted place']]]

In [16]:
nest[3]

['a', 'b', ['targeted place']]

In [18]:
nest[3][2]

['targeted place']

In [19]:
nest[3][2][0]

'targeted place'

# Dictionaries in Python

In [20]:
d = {'key1': 'item1','key2': 'item2' }

In [21]:
d

{'key1': 'item1', 'key2': 'item2'}

In [24]:
d['key2']

'item2'

# Booleans

In [26]:
True

True

In [27]:
False

False

# Tuples in Python

In [28]:
t = (1, 2, 3)

In [29]:
t[0]

1

In [30]:
t[0] = 'NEW'

TypeError: 'tuple' object does not support item assignment

# Sets in Python

In [31]:
{1,2,3}

{1, 2, 3}

In [32]:
{1,2,3,1,2,1,2,3,3,3,3,2,2,2,1,1,2}

{1, 2, 3}

# Python Comparison Operators

In [33]:
44>33

True

In [34]:
44<33

False

In [35]:
5>=5

True

In [36]:
3 <= 4

True

In [37]:
1 == 1

True

In [38]:
'hi' == 'bye'

False

# Logic Operators

In [40]:
3 > 4 and 2 < 3

False

In [41]:
(1 > 2) or (2 < 3)

True

In [42]:
(1 == 2) or (2 == 3) or (4 == 4)

True

# If, Elif, and Else Statements in Python

In [43]:
if 4 > 2 :
    print('yep!')

yep!

In [48]:
if 4 > 2:
    print('first')
else:
    print('last')

first

In [49]:
if 4 < 2:
    print('first')
else:
    print('last')

last

# for Loops

In [50]:
seq = [1,2,3,4,5]

In [54]:
for item in seq:
    print(item)

1
2
3
4
5

In [55]:
for item in seq:
    print('Hi')

Hi
Hi
Hi
Hi
Hi

# while Loops in Python

In [59]:
i = 1
while i < 10:
    print('i is: {}'.format(i))
    i = i+1

i is: 1
i is: 2
i is: 3
i is: 4
i is: 5
i is: 6
i is: 7
i is: 8
i is: 9

In [61]:
range(5)

range(0, 5)

In [63]:
for i in range(5):
    print(i)

0
1
2
3
4

In [64]:
list(range(5))

[0, 1, 2, 3, 4]

# list comprehension to create a new list based on the values of an existing list in Python

In [65]:
x = [1,2,3,4]

In [67]:
out =[]
for item in x:
    out.append(item**2)
print(out)

[1, 4, 9, 16]

In [68]:
[item**2 for item in x]

[1, 4, 9, 16]

In [69]:
def my_func(param1='default'):
    """
    Docstring goes here.
    """
    print(param1)

In [70]:
my_func

In [72]:
my_func()

default

In [73]:
my_func('new param')

new param

In [74]:
my_func(param1='new param')

new param

In [75]:
def square(x):
    return x**2

In [76]:
out = square(2)

In [77]:
print(out)

4

# lambda expressions

In [78]:
def times2(var):
    return var*2

In [79]:
times2(2)

4

In [80]:
lambda var: var*2

# map and filter

In [81]:
seq = [1,2,3,4,5]

In [82]:
map(times2,seq)

In [84]:
list(map(times2,seq))

[2, 4, 6, 8, 10]

In [85]:
list(map(lambda var: var*2,seq))

[2, 4, 6, 8, 10]

In [86]:
filter(lambda item: item%2 == 0,seq)

In [87]:
list(filter(lambda item: item%2 == 0,seq))

[2, 4]

# methods

In [88]:
sentense = 'hello my name is lima'

In [90]:
sentense.upper()

'HELLO MY NAME IS LIMA'

In [92]:
sentense.lower()

'hello my name is lima'

In [93]:
sentense.split()

['hello', 'my', 'name', 'is', 'lima']

In [94]:
tweet = 'Go Sports! #Sports'

In [95]:
tweet.split('#')

['Go Sports! ', 'Sports']

In [98]:
tweet.split('#')[1]

'Sports'

In [99]:
d

{'key1': 'item1', 'key2': 'item2'}

In [100]:
d.items()

dict_items([('key1', 'item1'), ('key2', 'item2')])

In [101]:
d.keys()

dict_keys(['key1', 'key2'])

In [102]:
lst = [1,2,3]

In [103]:
lst.pop()

3

In [106]:
lst

[1, 2]

In [104]:
'apple' in ['apple', 'banana', 'orange', 'mango']

True

In [105]:
'apple' in [1,2,3]

False

# Exercises

### Q. What is 7 to the power of 4?

In [109]:
7**4

2401

####

# Q. ** Split this string:**

s = "Hi there Sam!"
*into a list. *

In [111]:
s = "Hi there Sam!"

In [115]:
s.split()

['Hi', 'there', 'Sam!']

# Use .format() to print the following string: 

The diameter of Earth is 12742 kilometers.

planet = "Earth"
diameter = 12742
 

The diameter of Earth is 12742 kilometers.

In [6]:
planet = "Earth" 
diameter = 12742

In [11]:
print('The diameter of {} is {} kilometers.'.format(planet,diameter))

The diameter of Earth is 12742 kilometers.

### ** Given this nested list, use indexing to grab the word "hello" **

In [12]:
lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]

In [13]:
lst[3]

[5, [100, 200, ['hello']], 23, 11]

In [16]:
lst[3][1]

[100, 200, ['hello']]

In [17]:
lst[3][1][2]

['hello']

In [18]:
lst[3][1][2][0]

'hello'

### ** What is the main difference between a tuple and a list? **

In [19]:
#Tuple is immutable

### ** Create a function that grabs the email website domain from a string in the form: **

user@domain.com
So for example, passing "user@domain.com" would return: domain.com

In [31]:
def domainGet(email):
    return email.split('@')[-1]

In [32]:
domainGet('user@domain.com' )

'domain.com'

In [33]:
domainGet('user@domain.com' )

'domain.com'

### ** Create a basic function that returns True if the word 'cat' is contained in the input string. do account for capitalization. **

In [34]:
def findCat(s):
    return 'cat'in s.lower().split()

In [35]:
s ='Is there any cat here?'

In [36]:
findCat(s)

True

### * Create a function that counts the number of times the word "cat" occurs in a string.  **

In [51]:
def countCats(s):
    count=0
    for word in s.lower().split():
        if word == 'cat':
            count += 1
    return count

In [53]:
countCats('this cat has a stronger hunting instinct than another cat')

2

### Use lambda expressions and the filter() function to filter out words from a list that don't start with the letter 's'. 
    For example:

seq = ['cat', 'simi', 'plant', 'subtropics' ,'gene', 'soup','dog','salad','cat','great']

In [54]:
seq = ['cat', 'simi', 'plant', 'subtropics' ,'gene', 'soup','dog','salad','cat','great']

In [55]:
filter(lambda word: word[0] == 's', seq)

In [56]:
list(filter(lambda word: word[0] == 's', seq))

['simi', 'subtropics', 'soup', 'salad']

### Final Problem
*You are driving a little too fast, and a police officer stops you. Write a function to return one of 3 possible results: "No ticket", "Small ticket", or "Big Ticket". If your speed is 60 or less, the result is "No Ticket". If speed is between 61 and 80 inclusive, the result is "Small Ticket". If speed is 81 or more, the result is "Big Ticket". Unless it is your birthday (encoded as a boolean value in the parameters of the function) -- on your birthday, your speed can be 5 higher in all cases. *

In [67]:
def caught_speeding(speed, is_birthday):
    if is_birthday:
        speeding = speed -5
    else:
        speeding = speed
    
    
    if speeding> 80:
        return 'Big Ticket'
    elif speeding > 60:
        return 'Small Ticket'
    else: 
        return 'No Ticket'

In [68]:
caught_speeding(84, True)

'Small Ticket'

In [69]:
caught_speeding(84,False)

'Big Ticket'

In [70]:
caught_speeding(59,False)

'No Ticket'